.actors-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.actors-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.actor-item {
  width: 30%;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  box-sizing: border-box;
  max-width: calc(30% - 10px);
}

.actor-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200 px; 
  /* padding: 10 px;  */
}

.actorImg {
  width: 50%;
  height: auto;
}

.actor-actions {
  display: flex;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: center;
}

